.section6{
    height: 600px;
    background-image: url(../../section-bg1.jpg.webp);
    
}
.sec6-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
.sec6-container{
    padding: 100px 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
}

.phe{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.meat{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec6-p{
    width: 300px;
    display: flex;
    justify-content: center;
}
.sec6-a{
    display: flex;
    justify-content: center;
}