
.section4{
    height: 700px;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
}
.row{
    width: 100%;
    justify-content: space-between;
}

.card{
    width: 500px;
}
.prices{
    display: flex;
    justify-content: space-between;
}
